@tailwind base;

body {
  @apply bg-gray-100;
}

@media screen and (min-width: 300px) and (max-width: 634px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}


@tailwind components;
@tailwind utilities;